<?xml version="1.0" encoding="UTF-8" ?>
<!--
Web application manifest implementation for Magento 1.x

@category    Sitewards
@package     Sitewards_Webappmanifest
@copyright   Copyright (c) Sitewards GmbH (http://www.sitewards.com)
@contact     mail@sitewards.com
-->
<config>
    <modules>
        <Sitewards_Webappmanifest>
            <version>1.0.0</version>
        </Sitewards_Webappmanifest>
    </modules>
    <global>
        <models>
            <sitewards_webappmanifest>
                <class>Sitewards_Webappmanifest_Model</class>
            </sitewards_webappmanifest>
        </models>
        <helpers>
            <sitewards_webappmanifest>
                <class>Sitewards_Webappmanifest_Helper</class>
            </sitewards_webappmanifest>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <sitewards_webappmanifest>
                    <file>sitewards/webappmanifest.xml</file>
                </sitewards_webappmanifest>
            </updates>
        </layout>
        <routers>
            <webappmanifest>
                <use>standard</use>
                <args>
                    <module>Sitewards_Webappmanifest</module>
                    <frontName>manifest.json</frontName>
                </args>
            </webappmanifest>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <sitewards_webappmanifest>
                    <files>
                        <default>Sitewards_Webappmanifest.csv</default>
                    </files>
                </sitewards_webappmanifest>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <webappmanifest>
            <settings>
                <author>Magento</author>
                <short_name>Shop</short_name>
                <display>browser</display>
            </settings>
        </webappmanifest>
    </default>
</config>
